@model List<AkebonoProj.Model.TransaksiProduksi>

@{
}

<h1>Transaksi</h1>

<table class="table">
    <thead>
        <tr>
            <th>TglTransaksi</th>
            <th>NPK</th>
            <th>KodeItem</th>
            <th>KodeLokasi</th>
            <th>QtyActual</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var TransaksiProduksi in Model)
        {
            <tr>
               <td>@TransaksiProduksi.TglTransaksi</td
               <td>@TransaksiProduksi.NPK</td
                   <td>@TransaksiProduksi.KodeItem</td
                       <td>@TransaksiProduksi.KodeLokasi</td
                           <td>@TransaksiProduksi.QtyActual</td
            </tr>
        }
    </tbody>
</table>

