@model List<AkebonoProj.Model.ViewModels.TransaksiProduksiViewModel>

<table>
    <thead>
        <tr>
            <th>Tanggal Transaksi</th>
            <th>Kode Item</th>
            <th>Qty Actual</th>
            <th>Kode Lokasi</th>
            <th>NPK</th>
            <th>Nama Lokasi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TglTransaksi</td>
                <td>@item.KodeItem</td>
                <td>@item.QtyActual</td>
                <td>@item.KodeLokasi</td>
                <td>@item.NPK</td>
                <td>@item.NamaLokasi</td>
            </tr>
        }
    </tbody>
</table>
